<!DOCTYPE>
<html>
    <head>
        <title>Consular Character Template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <h1>Consular Character Template - <a href="../">West End Games Star Wars RPG</a></h1>
        <div id="main">
            <h2 class="name">Consular</h2>
                <div class="skills">
                    <div class="attr">
                        <h3>Dexterity 2D</h3>
                        <ul>
                            <li>Blaster</li>
                            <li>Brawling Parry</li>
                            <li>Dodge</li>
                            <li>Grenade</li>
                            <li>Heavy Weapons</li>
                            <li>Melee Parry</li>
                            <li>Melee</li>
                        </ul>
                    </div>
                    <div class="attr">
                        <h3>Perception 3D+1</h3>
                        <ul>
                            <li>Bargain</li>
                            <li>Command</li>
                            <li>Con</li>
                            <li>Gambling</li>
                            <li>Hide/Sneak</li>
                            <li>Search</li>
                        </ul>
                    </div>
                    <div class="attr">
                        <h3>Knowledge 2D+2</h3>
                        <ul>
                            <li>Alien Races</li>
                            <li>Bureaucracy</li>
                            <li>Cultures</li>
                            <li>Languages</li>
                            <li>Planetary Systems</li>
                            <li>Stretwise</li>
                            <li>Survival</li>
                            <li>Technology</li>
                        </ul>
                    </div>
                    <div class="attr">
                        <h3>Strength 2D+1</h3>
                        <ul>
                            <li>Brawling</li>
                            <li>Climbing/Jumping</li>
                            <li>Lifting</li>
                            <li>Stamina</li>
                            <li>Swimming</li>
                        </ul>
                    </div>
                    <div class="attr">
                        <h3>Mechanical 2D</h3>
                        <ul>
                            <li>Astrogation</li>
                            <li>Beast Riding</li>
                            <li>Repuilsorlift Operation</li>
                            <li>Starship Gunnery</li>
                            <li>Starship Piloting</li>
                            <li>Starship Shields</li>
                        </ul>
                    </div>
                    <div class="attr">
                        <h3>Technical 2D+2</h3>
                        <ul>
                            <li>Computer Programming/Repair</li>
                            <li>Demolition</li>
                            <li>Droid Programming/Repair</li>
                            <li>Medicine</li>
                            <li>Repulsorlift Repair</li>
                            <li>Security</li>
                            <li>Starship Repair</li>
                        </ul>
                    </div>
                    <div class="attr">
                        <h3>Force</h3>l
                        <ul>
                            <li>Control 1D</li>
                            <li>Sense 0D</li>
                            <li>Alter 1D</li>
                        </ul>
                    </div>
                </div>
                <div class="equipment">
                    <h3>Equipment</h3>
                    <ul>
                        <li>First item</li>
                        <li>Second item</li>
                    </ul>
                    <p>
                        Credits: 0
                    </p>
                    <p>
                        Debt: 0
                    </p>
                </div>
                <div>
                    <p>Pick one specialization.</p>
                    <div class="specialization">
                        <h3>Healer</h3>
                        <ul>
                            <li>Technical: +2</li>
                            <li>Knowledge: +1</li>
                        </ul>
                    </div>
                    <div class="specialization">
                        <h3>Niman Disciple</h3>
                        <ul>
                            <li>Dexterity: +2</li>
                            <li>Perception: +1</li>
                        </ul>
                    </div>
                    <div class="specialization">
                        <h3>Sage</h3>
                        <ul>
                            <li>Mechanical: +2</li>
                            <li>Knowledge: +1</li>
                        </ul>
                    </div>
                </div>
        </div>
    </body>
</html>
